@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: 0, 0, 0;
	--background: 255, 255, 255; 
	--primary: 75 85 99;
	--secondary: 255, 255, 255;
	--accent: 190, 33, 25;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
